.message-form {
    padding: 0.2rem;
    border: 1px solid lightgreen;
    margin-bottom: 1rem;
}

.message-form form textarea {
    width: 100%;
    resize: none;
}

.send_message-buttons_panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}