.movie {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--background-primary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: var(--font-color-secondary);
}

.movie h2 {
  font-size: 2rem;
  color: #f7e702;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.movie-delete_icon {
  color: var(--red-color);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  transition-duration: 300ms;
}

.movie-delete_icon:hover {
  color: var(--red-color);
  cursor: pointer;
  transform: rotate(20deg);
}